body {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

body a {
  color: #ea96ba;
  text-decoration: none;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

body a:hover {
  color: pink;
}

#container {
  position: relative;
  width: 60%;
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
}

footer {
  margin-top: 5vh;
}

#game {
  width: 100%;
  background: pink;
  background-image: url("images/bg.png");
  height: 400px;
  position: relative;
}

#game .starter-tile {
  width: 30%;
  display: inline-block;
  margin: 5px;
  text-align: left;
  height: auto;
  position: relative;
  background: white;
  border-radius: 20px;
  border: 3px solid #f0ba46;
  background: #f4dfb9;
  cursor: pointer;
}

#game .starter-tile img, #game .starter-tile .starter-content {
  display: inline-block;
  padding: 5px;
}

#game .starter-tile img {
  padding-left: 10px;
  vertical-align: super;
}

#game .starter-tile h3 {
  margin: 0;
}

#game .starter-tile .rare {
  text-orientation: upright;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-align: center;
  background: gold;
  float: right;
  font-size: 0.6em;
  height: inherit;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

#game .heading {
  padding: 20px;
  margin: 0;
}

#game input {
  background: white;
  border-radius: 20px;
  border: 3px solid #f0ba46;
  padding: 10px;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

#game input:focus {
  outline: none;
}

#game .col {
  display: inline-block;
  text-align: left;
  background: #f4dfb9;
  vertical-align: top;
}

#game .left-col, #game .right-col {
  margin: 30px 0;
  border: 3px solid black;
  border-radius: 20px;
}

#game .left-col {
  width: 30%;
  position: relative;
}

#game .left-col #cat-pic {
  cursor: pointer;
}

#game .left-col .pet {
  content: url("images/assets/heart.png");
  animation: heart 0.8s ease-in-out;
  animation-iteration-count: 1;
  animation-play-state: paused;
  -webkit-animation: heart 0.8s ease-in-out;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-play-state: paused;
  position: absolute;
  opacity: 0;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  top: 80px;
  left: 80px;
}

@-webkit-keyframes heart {
  0% {
    opacity: 0;
    top: 80px;
    left: 50px;
  }
  50% {
    opacity: 1;
    top: 60px;
    left: 50px;
  }
  100% {
    opacity: 0;
    top: 35px;
    left: 30px;
  }
}

@keyframes heart {
  0% {
    opacity: 0;
    top: 80px;
    left: 50px;
  }
  50% {
    opacity: 1;
    top: 60px;
    left: 50px;
  }
  100% {
    opacity: 0;
    top: 35px;
    left: 30px;
  }
}

#game .left-col img, #game .left-col h2 {
  margin: 10px auto;
  text-align: center;
  display: block;
}

#game .left-col h3, #game .left-col span {
  display: inline-block;
  margin: 5px;
}

#game .left-col img {
  margin-top: 40px;
}

#game .left-col h2 {
  background: white;
  border-radius: 20px;
  border: 3px solid #f0ba46;
  position: absolute;
  padding: 5px;
  top: -30px;
  left: 7%;
  width: 80%;
}

#game .left-col p {
  margin: 10px;
}

#game h3 {
  text-shadow: 1px 1px 1px #f0ba46;
}

#game .alert {
  -webkit-animation: flash 1s linear infinite;
          animation: flash 1s linear infinite;
}

@-webkit-keyframes flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#game .cat-button {
  font-size: 1.2em;
  padding: 5px 0 5px 10px;
  text-align: left;
  background: white;
  border-radius: 20px;
  border: 3px solid #f0ba46;
  width: 10%;
  margin: 0 auto;
  position: relative;
  cursor: pointer;
  font-weight: bold;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#game .cat-button:hover {
  background: #f4dfb9;
}

#game .cat-button:after {
  opacity: 0;
  content: url("images/assets/pawprint.png");
  position: absolute;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  right: 5%;
}

#game .cat-button:focus {
  outline: none;
}

#game .cat-button:hover:after {
  opacity: 1;
}

#game .cat-button:hover:disabled {
  background: white;
  cursor: not-allowed;
}

#game .cat-button:hover:disabled:after {
  visibility: hidden;
}

#game .right-col {
  width: 65%;
  text-align: center;
}

#game .right-col .col-1, #game .right-col .col-2 {
  width: 46%;
  margin: 5px;
}

#game .right-col .interaction ul {
  padding-left: 10px;
  position: relative;
  list-style-type: none;
  text-align: left;
}

#game .right-col .interaction ul li {
  display: inline-block;
  width: 20%;
  font-size: 1.2em;
  position: relative;
  margin: 5px;
}

#game .right-col .interaction ul li .cat-button {
  width: 100%;
  margin: 0;
}

#game .right-col .interaction ul li:last-child {
  right: -5px;
  bottom: -20px;
  position: absolute;
  padding: 10px;
  width: 8%;
}

#game .right-col .interaction ul li:last-child:before {
  opacity: 0;
  content: 'Coming soon!';
  font-size: 0.8em;
  position: absolute;
  padding: 5px;
  top: -55px;
  right: 5px;
  background: rgba(240, 186, 70, 0.8);
  border-radius: 10px;
  text-align: center;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#game .right-col .interaction ul li:last-child:hover:before {
  opacity: 1;
}

#game .right-col .interaction #info {
  font-size: 1.2em;
  padding: 5px;
}

#marquee {
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-animation: marquee 15s linear infinite;
          animation: marquee 15s linear infinite;
  overflow: hidden;
}

#marquee img {
  padding: 20px;
  display: inline-block;
}

@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes marquee {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.bar {
  background: green;
  height: 10px;
  width: 100%;
  max-width: 100%;
  border-radius: 20px;
  -webkit-transition: width 0.8s ease-in-out;
  transition: width 0.8s ease-in-out;
}

footer {
  text-align: right;
  width: 100%;
}

@media (max-width: 1366px) {
  #container {
    width: 90%;
  }
  #game {
    padding: 10px 0;
  }
  #game .starter-tile {
    height: auto;
    vertical-align: top;
  }
  #game .cat-button {
    width: 15%;
  }
}

@media (max-width: 970px) {
  #marquee {
    display: none;
  }
}

@media (max-width: 768px) {
  #container {
    height: auto;
  }
  #game {
    height: inherit;
  }
  #game .cat-button {
    width: 25%;
  }
  #game .starter-tile {
    height: auto;
    vertical-align: top;
    width: 80%;
  }
  #game .left-col, #game .right-col {
    display: block;
    margin: 15px auto;
    width: 90%;
  }
  #game .left-col h3, #game .left-col span {
    display: block;
    text-align: center;
  }
  #game .right-col .col-1, #game .right-col .col-2 {
    width: 80%;
  }
  #game .right-col .interaction ul {
    text-align: left;
    padding-left: 0;
  }
  #game .right-col .interaction ul li {
    display: block;
    width: 60%;
    font-size: 1.2em;
    padding-left: 5%;
  }
  #game .right-col .interaction ul li:last-child {
    right: 25px;
  }
  #game .right-col .interaction ul li .cat-button {
    width: 100%;
    margin: 0;
  }
}

@media (max-width: 425px) {
  #game .cat-button {
    width: 35%;
  }
}
/*# sourceMappingURL=style.css.map */