#game {
    .starter-tile {
        width: 30%;
        display: inline-block;
        margin: 5px;
        text-align: left;
        height: auto;
        position: relative;
        @include heading-border;
        background: $light-gold;
        cursor: pointer;
        
        img, .starter-content{
            display: inline-block;
            padding: 5px;
        }
        
        img{
            padding-left: 10px;
            vertical-align: super;
        }
        
        h3{
            margin: 0;
        }
        
        .rare{
            text-orientation: upright;
            writing-mode: vertical-rl;
            text-align: center;
            background: gold;
            float: right;
            font-size: 0.6em;
            height: inherit;
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
        }
    }
}



#marquee{
    position: absolute;
    bottom:0;
    left: 0;
    animation: marquee 15s linear infinite;
    overflow: hidden;
    
    img{
        padding: 20px;
        display: inline-block;
    }
    
    @keyframes marquee{
        0% { transform:translateX(100%); }
        50% { transform:translateX(0); }
        100% { transform:translateX(-100%); }
    }
}